.header_part{
    text-align: center;
    background-color: honeydew;
    padding: 15px 40px;
    margin-left: auto;
}
.name{
    padding:0px 35px;
}
.images{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.lighter{
    color: goldenrod;
}
.center{
    text-align: center;
}

.btn{
    padding: 5px 25px;
    background-color: goldenrod;
    font-size: 25px;
    border-radius: 6px;
    color: indigo;
}

.btn a{
    text-decoration: none;
}

.btn:hover{
    padding: 6px 27px;
    background-color: gold;
    font-size: 25px;
    border-radius: 6px;
    color: rgb(99, 20, 155);
}
.container{
    margin-bottom: 35px;
    margin-top: 0px;
}